Flask==3.0.0
Flask-CORS==4.0.0
numpy==1.24.3
requests==2.31.0
python-dotenv==1.0.0
js2py==0.74
trimesh==4.0.5
scipy==1.11.4
pandas==2.1.4
google-cloud-storage==2.10.0
google-cloud-compute==1.14.0
google-auth==2.23.4
